
  /* body { */
    /* background-color: rgb(11, 75, 131); */
    /* font-family: Arial, Helvetica, sans-serif; */
  /* } */
  body {
    background: linear-gradient(-45deg, #72acc1, #e7d3e5,rgb(227, 178, 251),rgb(83, 83, 141), #f95d2d);
    background-size: 400% 400%;
    animation: gradient 8s ease infinite;
    /* height: 100vh; */
    }
    
    @keyframes gradient {
    0% {
    background-position: 0% 50%;
    }
  
    50% {
    background-position: 100% 50%;
    }
    
    100% {
    background-position: 0% 50%;
    }
    }
h1{
    text-align: center;
    font-size: 3vw;
    font-family: 'Poppins', sans-serif;
    color: rgb(6, 2, 19);
}

  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .gallery-item {
    margin: 3rem;
    text-align: center;
  }
  
  .gallery-item img {
    width: 100%;
    max-width:300px;
    height: auto;
    margin: 10px;
  }
  
  .image-description {
    margin-top: 1rem;
    font-size: 1.2vw;
    color: #010506;
    font-weight: bold;
  }
  
  @media screen and (max-width: 1000px){
    .image-description{
      font-size:1.5vw ;
    }
  }